Package: enigma2-plugin-extensions-apod
Version: 1.7
Section: extra
Priority: optional
Architecture: all
Maintainer: @lululla
Description: Apod image of the day
Source: enigma2-plugin-extensions-apod
Homepage: corvoboys.org
OE: 2.0-2.2-2.5
License: O.S.
